:root {
  font-family: 'Helvetica Neue', sans-serif;

  /* Style variables */
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 500;
 
  --background-header:#D7D7B8;
  --background-first-section:#F8F8EC;
  --background-card:#F8f8ec;
  --text-color-primary: #7EBEA3;
  --text-color-secondary: #F7F0BA;
  --color-black: rgb(17, 17, 17);
  --color-background: #F5F3F0;

  /* Reset Styles */
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  border: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  list-style-type: inherit;
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
}